<%# Simple Form Version 1.0 %>
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Simple Form Version</h2>
    </div>
    <div class="card-body">
      <%= simple_form_for @friend do |f| %>
      <% if friend.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

          <ul>
            <% friend.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :twitter %>
      <%= f.button :submit %>
    </div>
  </div>
</div>
<% end %>